*/venv/
**/.ipynb_checkpoints/
# code/data/
code/train/
code/models/*
code/runs/
extra_data/D7_data/tweets/tweets.json
code/preprocessed_data/*.pkl
**.model
*/__pycache__/
**/embeddings/
**/emotion_lexicon/
**/embeddings_idea/preprocessed_data/